.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.root-wrapper {
  background-color: #F0F2F5;
}

.covid-container {
  padding-top: 80px;
  min-height: 100vh;
}

[type='file'],
[type='image'] {
  cursor: pointer;
}

[type='file']::-webkit-file-upload-button {
  -webkit-appearance: button;
  cursor: pointer;
}

.ant-table thead th {
  background-color: #cecece;
}

.ant-table .ant-table-tbody > tr:hover > td {
  background: unset;
}

.ant-table tbody tr:nth-child(odd) {
  background-color: white;

}

.ant-table tbody tr:nth-child(even) {
  background-color: #ededed;
}

.ant-btn-primary, .ant-btn-primary:hover, .ant-btn-primary:focus {
  background-color: #f1847d;
  border-color: #f1847d;
}

.ant-select-item-option-selected {
  background-color: rgba(243,194,191,0.2) !important;
}

body {
  font-family: "Alata";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}